{% extends "provapp/base.html" %}

{% block title %}Details for an activity{% endblock %}

{% block content %}

<h2>Activity: {{ activity.label }}</h2>
<h3>Details</h3>
<ul>
<li>id: {{ activity.id }}</li>
<li>label: {{ activity.label }}</li>
<li>type: {{ activity.type }}</li>
<li>description: {{ activity.description }}</li>
<li>startTime: {{ activity.startTime }}</li>
<li>endTime: {{ activity.endTime }}</li>
</ul>


<h3>Relations</h3>
<h4>Used (input)</h4>
{% if used_list %}
    <ul>
    {% for used in used_list %}
        {% if activity.id in used.activity.id %}
            <li><a href="{% url 'provapp:activity_detail' activity.id %}">{{ activity.label }}</a> 
                used 
                <a href="{% url 'provapp:entity_detail' used.entity.id %}">{{ used.entity.label }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No used relations are available.</p>
{% endif %}


<h4>WasGeneratedBy (output)</h4>
{% if wasGeneratedBy_list %}
    <ul>
    {% for wasGeneratedBy in wasGeneratedBy_list %}
        {% if activity.id in wasGeneratedBy.activity.id %}
            <li><a href="{% url 'provapp:entity_detail' wasGeneratedBy.entity.id %}">{{ wasGeneratedBy.entity.label }}</a>
                wasGeneratedBy 
                <a href="{% url 'provapp:activity_detail' activity.id %}">{{ activity.label }}</a> 
                </li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No wasGeneratedBy relations are available.</p>
{% endif %}


<h4>WasAssociatedWith (contacts, acknowledgements)</h4>
{% if wasAssociatedWith_list %}
    <ul>
    {% for wasAssociatedWith in wasAssociatedWith_list %}
        {% if activity.id in wasAssociatedWith.activity.id %}
            <li><a href="{% url 'provapp:activity_detail' activity.id %}">{{ activity.label }}</a>
                wasAssociatedWith 
                <a href="{% url 'provapp:agent_detail' wasAssociatedWith.agent.id %}">{{ wasAssociatedWith.agent.label }}</a> 
                </li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No agent relations are available.</p>
{% endif %}


<h3>Graph</h3>

<p id="chart">
<aside>Drag to rearrange nodes.</aside>

<script type="text/javascript">
/* script taken from one of the d3-examples */

var margin = {top: 1, right: 1, bottom: 6, left: 1},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var formatNumber = d3.format(",.0f"),
    format = function(d) { return formatNumber(d) + " TWh"; },
    color = d3.scale.category20();

var svg = d3.select("#chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var sankey = d3.sankey()
    .nodeWidth(15)
    .nodePadding(10)
    .size([width, height]);

var path = sankey.link();

var jsonurl = 'graphjson' //'/dmapp/data/'+{{ datacomponent.id }}+'/json' -- it's enough to just append the json
d3.json(jsonurl, function(prov) {

  sankey
      .nodes(prov.nodes)
      .links(prov.links)
      .layout(32);

  var link = svg.append("g").selectAll(".link")
      .data(prov.links)
    .enter().append("path")
      .attr("class", "link")
      .attr("d", path)
      .style("stroke-width", function(d) { return Math.max(1, d.dy); })
      .sort(function(a, b) { return b.dy - a.dy; });

  link.append("title")
      .text(function(d) { return d.source.name + " → " + d.target.name + "\n" + format(d.value); });

  var node = svg.append("g").selectAll(".node")
      .data(prov.nodes)
    .enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
    .call(d3.behavior.drag()
      .origin(function(d) { return d; })
      .on("dragstart", function() { this.parentNode.appendChild(this); })
      .on("drag", dragmove));

  node.append("rect")
      .attr("height", function(d) { return d.dy; })
      .attr("width", sankey.nodeWidth())
      .style("fill", function(d) { return d.color = color(d.name.replace(/ .*/, "")); })
      .style("stroke", function(d) { return d3.rgb(d.color).darker(2); })
    .append("title")
      .text(function(d) { return d.name + "\n" + format(d.value); });

  node.append("text")
      .attr("x", -6)
      .attr("y", function(d) { return d.dy / 2; })
      .attr("dy", ".35em")
      .attr("text-anchor", "end")
      .attr("transform", null)
      .text(function(d) { return d.name; })
    .filter(function(d) { return d.x < width / 2; })
      .attr("x", 6 + sankey.nodeWidth())
      .attr("text-anchor", "start");

  function dragmove(d) {
    d3.select(this).attr("transform", "translate(" + (d.x = Math.max(0, Math.min(width - d.dx, d3.event.x))) + "," + (d.y = Math.max(0, Math.min(height - d.dy, d3.event.y))) + ")");
    sankey.relayout();
    link.attr("d", path);
  }
});

</script>

<style>
/*
.link {
  fill: none;
  /*stroke: #666;*/
/*  stroke-width: 2px;
}

.link.used {
  stroke: #8b0000;
  fill: none;
}

.marker.used {
  stroke: #8b0000;
  fill: #8b0000;
}

.link.wasGeneratedBy {
  stroke: darkgreen;
  fill: none;
}

.marker.wasGeneratedBy {
  stroke: darkgreen;
  fill: darkgreen;
}

.link.wasAssociatedWith {
  /*stroke-dasharray: 0,2 1;*/
/*  stroke: #fed37f;
  fill: none;
}

.marker.wasAssociatedWith {
  stroke: #fed37f;
  fill: #fed37f;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

path.agent {
  fill: #fed37f;
  stroke: #000;
}

ellipse.entity {
  fill: #fffc87;
  stroke: #808080;
}


rect.activity {
  fill: #9fb1fc; 
  stroke: #0000ff;
}
text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
*/
</style>


<script>

var width = 600,
    height = 400;

var svg2 = d3.select("body").append("div").append("svg")
      .attr("width", width)
      .attr("height", height);

var defs = svg2.append("svg:defs");

var jsonurl = 'graphjson' //'/dmapp/data/'+{{ datacomponent.id }}+'/json' -- it's enough to just append the json
//alert("Url for json: "+jsonurl)
d3.json(jsonurl, function(prov) {

  var force = d3.layout.force()
      .nodes(prov.nodes)
      .links(prov.links)
      .size([width, height])
      .linkDistance(60)
      .charge(-300)
      .on("tick", tick)
      .start();

  // Per-type markers, as they don't inherit styles.
  svg2.append("defs").selectAll("marker")
      .data(["used", "wasGeneratedBy", "wasAssociatedWith"])
    .enter().append("marker")
      .attr("id", function(d) { return d; })
      .attr("viewBox", "0 -5 10 10")
      .attr("refX", 15)
      .attr("refY", -1.5)
      .attr("markerWidth", 6)
      .attr("markerHeight", 6)
      .attr("orient", "auto")
    .append("path")
      .attr("d", "M0,-5L10,0L0,5")
      .attr("class", function(d) { return "marker "+d; });

  var path = svg2.append("g").selectAll("path")
      .data(force.links())
    .enter().append("path")
      .attr("class", function(d) { return "link " + d.type; })
      //.attr("marker-end", marker('#0000ff'));  //, function(d) { return "url(#" + d.type + ")"; });
      .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });
  
  var shapes = svg2.append("g").selectAll(".shapes")
      .data(force.nodes())
    .enter();

  var ellipse = shapes.append("ellipse")
      .filter(function(d){ return d.type == "entity"; })
      .attr("class", function(d) { return d.type; })
      .attr("rx", 15)
      .attr("ry", 10)
      .attr("cx", 0)
      .attr("cy", 0)
      .call(force.drag);

/*  var circle = shapes.append("circle")
      .filter(function(d){ return d.type == "agent"; })
      .attr("class", function(d) { return d.type; })
      .attr("r", 8)
      .call(force.drag);
*/
  var polygon = shapes.append("path")
      .filter(function(d){ return d.type == "agent"; })
      .attr("class", function(d) { return d.type; })
      .attr("d", "M-15,7 L-15,-5 L0,-12 L15,-5 L15,7 L-15,7")
      .call(force.drag);

  var rectangle = shapes.append("rect")
      .filter(function(d){ return d.type == "activity"; })
      .attr("class", function(d) { return d.type; })
      .attr("x", -14)
      .attr("y", -9)
      .attr("width", 28)
      .attr("height", 18)
      .call(force.drag);

  var text = svg2.append("g").selectAll("text")
      .data(force.nodes())
    .enter().append("text")
      .attr("x", 16)
      .attr("y", ".75em")
      .text(function(d) { return d.name; });

  // Use elliptical arc path segments to doubly-encode directionality.
  function tick() {
    path.attr("d", linkArc);
    ellipse.attr("transform", transform);
    polygon.attr("transform", transform);
    rectangle.attr("transform", transform);
    text.attr("transform", transform);
  }

  function linkArc(d) {
    var dx = d.target.x - d.source.x,
        dy = d.target.y - d.source.y,
        dr = Math.sqrt(dx * dx + dy * dy);
    return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
  }

  function transform(d) {
    return "translate(" + d.x + "," + d.y + ")";
  }

});

</script>


{% endblock %}