{% extends "provapp/base.html" %}

{% block title %}Provenance webapp{% endblock %}

{% block content %}
<h1>Provenance Data for the RAVE project</h1>
<p>
    Details about RAVE are available here: <a href="https://www.rave-survey.org/" target="_blank">RAVE webpage</a>.
</p>
<p>
    This is a simple webapp for displaying provenance information of RAVE data, using the <a href="https://www.djangoproject.com/">Django framework</a>. It uses the data model currently discussed in the IVOA, which is based on the W3C ProvDM data model.
</p>


<p>
    Pick one of the classes below to show the available records.
</p>
<ul>
    <li><a href="{% url 'provapp:activities' %}">Activity</a></li>
    <li><a href="{% url 'provapp:entities' %}">Entity</a></li>
    <li><a href="{% url 'provapp:agents' %}">Agent</a></li>
</ul>
<p>
    For one activity, the xml or provjson representation is shown by appending
    <code>/xml</code> or <code>/json</code> to the existing detail url, e.g.:
    <ul>
        <li>details: <a href="/provapp/activities/rave:act_dataextraction/">/provapp/activities/rave:act_dataextraction/</a></li>
         <li>xml: <a href="/provapp/activities/rave:act_dataextraction/xml/">/provapp/activities/rave:act_dataextraction/xml/</a></li>
         <li>json: <a href="/provapp/activities/rave:act_dataextraction/json/">/provapp/activities/rave:act_dataextraction/json/</a></li>
    </ul>
</p>

<p>
    Choose one of the following links to explore more provenance graphs:
</p>
<ul>
    <li>Detailed provenance: <a href="{% url 'provapp:get_observationId' %}">Form for RAVE_Obs_Ids</a></li>
    <li>Overview: <a href="{% url 'provapp:graph' %}">Graph</a> of the main workflow</li>
    <li>Overview: <a href="{% url 'provapp:provn' %}">Provn</a> representation</li>
    <li>Overview: <a href="{% url 'provapp:prettyprovn' %}">Pretty Provn</a> representation (with clickable links)</li>
</ul>
{% endblock %}
