{% extends "core/base.html" %}

{% block title %}RAVE Provenance{% endblock %}

{% block content %}
<h1>RAVE Provenance</h1>
<h3>Provenance webapp prototype for the RAVE project</h3>
<p>
    Details about the RAVE project are available here:
    <a href="https://www.rave-survey.org/project/" target="_blank">RAVE webpage</a>.
</p>
<p>
    This is a prototype webapp for displaying provenance information of RAVE data, using the <a href="https://www.djangoproject.com/">Django framework</a> and the provenance package django-prov_vo.
</p>

<h4>General provenance endpoint</h4>
<p>
    Provenance specific links etc. can be found via the following link:
    <ul>
        <li>prov_vo endpoint: <a href="{% url 'prov_vo:index' %}">prov_vo</a></li>
    </ul>
</p>

<h4>RAVE specific provenance links</h4>
<ul>
    <li>Detail/basic provenance, with graph output: <a href="{% url 'raveprov:get_observationId' %}">Form for RAVE_OBS_IDs</a> (experimental)</li>
</ul>


<h4>Sources</h4>
<div>
    The sources for this web application are available at <a href="https://github.com/kristinriebe/provenance-rave/">GitHub: kristinriebe/provenance-rave</a>.<br>
    The sources for the prov_vo package are available at <a href="https://github.com/kristinriebe/provenance-rave/">GitHub: kristinriebe/django-prov_vo</a>.
</div>
{% endblock %}